body {
	background: #88cce9;
}

.form-container {
	margin: auto;
	padding: 20px;
	border: 2px solid;
	width: 300px;
	box-shadow: 2px 5px 20px 10px #dfd7d7;
	background-color: #eaf4f9;
}

h1 {
	font-size: 1.5em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
	text-align: center;
}

p {
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
}

.field-container {
	outline: none;
	border-bottom: #ccc 1px solid;
	padding: 8px;
	width: 250px;
	color: #aaaaaa;
	margin-top: 10px;
	font-size: 1em;
}

input {
	border-style: hidden;
	outline: none;
}
