body {
	background: #88cce9;
}

.form-container {
	margin: 125px auto;
	padding: 20px;
	width: 300px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
	background-color: white;
	position: relative;
}

h1 {
	font-size: 1.5em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
	text-align: center;
}

p {
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	color: #c8c4c2;
}

.field-container {
	outline: none;
	border-bottom: #ccc 1px solid;
	padding: 8px;
	width: 250px;
	color: #aaaaaa;
	margin-top: 10px;
	font-size: 1em;
}

input {
	border-style: hidden;
	outline: none;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1em;
	color: #7a7376;
}

a {
	text-decoration: none;
	color: #c8c4c2;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
	font-size: .75em;
}

#forgot {
	position: absolute;
	right: 50px;
	bottom: 170px;
}

.submit {
	display: block;
	padding: 1em;
	width: 100%;
	color: #fff;
	font-size: .75em;
	font-weight: 400;
	background-color: #3598db;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
	cursor: pointer;
	margin-top: 50px;
}
